#watchers_inputs.new-issue-watchers-inputs {
  padding-top: 5px;
  display: none;
}

#watchers_inputs.new-issue-watchers-inputs.show {
  display: block;
}

#watchers_inputs.new-issue-watchers-inputs div {
  float: left;
  margin-right: 20px;
}

#watchers_inputs.new-issue-watchers-inputs label {
  float: none;
  margin-left: 0;
  display: block;
  width: auto;
  text-align: left;
  font-weight: normal;
}

#watchers_toggle {
  text-decoration: none;
  cursor: pointer;
}

#watchers_toggle b {
  border-bottom: 1px dashed;
}